.container {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    grid-row: 6/14;
    grid-column: 4/13;
    padding: 10px;
    display: grid;
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.choices ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
}

.choices ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.all {
    float: right;
    margin-left: auto;
    padding-right: 20px;
    color: var(--dark);
}

.item {
    padding:0 10%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.choices ul li:nth-child(1) {
    grid-column: 1/4;
}


.choices ul li:nth-child(2) {
    grid-column: 4/7;
}

.choices ul li:nth-child(3) {
    grid-column: 7/10;
}

.choiceData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 70px;
    margin: 20px 0;
    padding: 0 20px;
    box-shadow: 0 0 0.09em 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.createdAt {
    float: right;
    margin-left: auto;
}