:root {
  --pri: #0275d8;
  --success : #5cb85c;
  --info : #5bc0de;
  --warning : #f0ad4e;
  --danger : #d9534f;
  --inverse : #292b2c;
  --faded : #f7f7f7;
  --greOff : rgb(13, 138, 13);
  --snow: #F5FEFD;
  --dark: #050100;
  /* --crow: #0D0906; */
}

/* Scroll-Bar */
::-webkit-scrollbar {
  background-color: var(--faded);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: var(--pri);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--info);
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Sofia", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}


li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}